<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>

      <!--
           /? `/ /\ |\|   /\ |\| |)   ~|~ |-| [-   (_, () _\~ |_ | |\| (_, _\~ 
      -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Ryan and The Goslings</title>

    <meta name="fragment" content="!">
    <meta property="fb:admins" content="9702144" />
    <meta name="description" content="Best Band">
    <meta property="og:description"  content="Best Band">
    <meta property="og:type" content="website">
<!--     <meta property="og:url" content="<%= og.url %>"> -->
    <meta property="og:site_name"  content="Ryan and the Goslings">
<!--     <meta property="og:image" content="<%= og.image %>"> -->
<!--     <meta property="og:title" content="<%= og.title %>"> -->

    <!-- @if NODE_ENV!='local' -->
<!--     <meta name="twitter:card" content="<%= twitter.card %>"> -->
<!--     <meta name="twitter:site" content="@crossfaderApp"> -->
<!--     <meta name="twitter:domain" content="https://crossfader.fm"> -->
<!--     <meta name="twitter:title" content="<%= twitter.title %>"> -->
<!--     <meta name="twitter:app:name:iphone" content="Crossfader"/> -->
<!--     <meta name="twitter:app:name:ipad" content="Crossfader"/> -->
<!--     <meta name="twitter:app:id:ipad" content="628517073"/> -->
<!--     <meta name="twitter:app:id:iphone" content="628517073"/> -->
<!--     <meta name="twitter:app:url:iphone" content="<%= twitter.deeplink %>"/> -->
<!--     <meta name="twitter:app:url:ipad" content="<%= twitter.deeplink %>"/> -->
<!--     <meta name="twitter:image:src" content="<%= twitter.image %>"> -->
<!--     <meta name="twitter:image:width" content="640"> -->
<!--     <meta name="twitter:image:height" content="640"> -->
<!-- <meta property="og:video"   content="<%= og.flashVideo %>"> -->
<!-- <meta property="og:video:secure_url" content="<%= og.flashVideo %>"> -->
<!-- <meta property="og:video:height" content="140"> -->
<!-- <meta property="og:video:width"  content="487"> -->
<!-- <meta property="og:video:type"   content="application/x-shockwave-flash"> <\!-- desktop -\-> -->
       
  </head>
  <body ng-app="", ng-controller="">
    <style>
      body {
        font: "Lucida Console", Monaco, monospace;
        background-color: #2C0228;
      }
      .header {
       color: #BC1565;
      }
    </style>
    <div class="header">
      <h1> Ryan and The [Fucking] Goslings </h1>
    </div>
  </body>
</html>
